@use "../../styles.scss" as *;

.blockchain-card-content {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.blockchain-logo {
  margin-top: 10px;
  margin-right: 20px;
  max-width: 50px;
  max-height: 50px;
}

.blockchain-title {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.blockchain-name {
  @extend .primary-title;
  white-space: normal;
  word-break: break-word;
}

.blockchain-mainnet {
  color: $success;
  margin-left: 5px;
  margin-top: 5px;
}

.blockchain-explorer {
  color: $secondary;
  cursor: pointer;
}
