@use "../../styles.scss" as *;

.blockchain-logo {
  margin-top: 5px;
  max-width: 40px;
  max-height: 40px;
}

.blockchain-title {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.blockchain-name {
  white-space: normal;
  word-break: break-word;
}

.blockchain-mainnet {
  color: $success;
  margin-left: 5px;
}

.blockchain-explorer {
  color: $secondary;
  cursor: pointer;
}
