@use "../../styles.scss" as *;

.contract-name {
  @extend .primary-title;
  word-break: break-word;
}

.contract-chain {
  @extend .chain-icon;
  margin-top: -3px;
}

.contract-chain-testnet {
  @extend .contract-chain;
  filter: grayscale(100%);
  opacity: 0.8;
}

.contract-address {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 10px;
}
