@use "../../styles.scss" as *;

.contract-name {
  @extend .primary-title;
  word-break: break-word;
}

.chain-icon-testnet {
  @extend .chain-icon;
  filter: grayscale(100%);
  opacity: 0.8;
}

.contract-address {
  margin-top: 10px;
}
