@use "../../styles.scss" as *;

html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.float-btn {
  width: 60px;
  height: 60px;
}

.float-btn-icon {
  font-size: 20px;
}

.main-screen {
  width: 100vw;
  height: 100vh;
}

.left-area {
  height: 100vh;
}

.profile-logo-container {
  height: 80px;
  cursor: pointer;
}

.profile-logo {
  max-height: 23px;
  max-width: 23px;
}

.logo-title-left {
  font-family: "tesla";
  font-size: 18px;
  font-weight: bold;
  color: $primary;
}

.logo-title-right {
  padding: 3px 3px 1px 5px;
  border-radius: 4px;
  background-color: $primary;
  font-family: "tesla";
  font-size: 18px;
  font-weight: bold;
  mix-blend-mode: difference;
}

.menu {
  width: 240px;
  border: none !important;
  height: calc(
    100vh /* full height */ - 80px /* profile-logo-container */ - 40px
      /* about-product */ - 100px /* profile-card */
  );
  overflow-y: auto;
}

.page-header {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.header-title {
  color: $secondary;
}

.queue-anim {
  margin: 50px;
}
