/* Commonly used color */
$primary: #1abc9c;
$secondary: #235abc;
$success: #52c41a;
$gray: #595959;
$description: #9ca3af;

@font-face {
  font-family: "tesla";
  src: url("@assets/fonts/tesla.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.page {
  height: 100vh;
  overflow-y: hidden;
}

.masonry-item {
  margin: 5px;
}

.masonry-container {
  padding: 0 calc(2rem - 5px) 2rem calc(2rem - 5px);
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.function-name {
  font-weight: bold;
}

.primary-title {
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-size: 14px;
  color: $description;
}

.copy-done {
  color: $success;
}

.chain-icon {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}

.doc-link {
  font-size: 10px;
  font-style: italic;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
